{% load static %}
{% include 'base/basic_top.html' %}
<main class="main">
    <header class="main-header">
        <h1 class="main-h1">{{title}}</h1>
        <p class="main-about">abs - от англ. absolute</p>
    </header>
    <div class="main-syntax-block">
        <h2 class="main-h2">Синтаксис</h2>
        <div class="main-syntax">
            <pre class="main-syntax-code"><!--
            --><code class="code-python-func">abs</code>(<code class="code-python-param">x</code>) -> num<!--
            --></pre>
        </div>
        <table class="main-syntax-table">
            <tr>
                <td>x</td>
                <td>Обычно это число типа <a href="/built-in-types/int">int</a>, <a href="/built-in-types/int">float</a> или <a href="/built-in-types/int">complex</a>, но может быть любой объект в котором реализован метод
                    __abs__(). Обязателен.</td>
            </tr>
            <tr>
                <td>num</td>
                <td>Абсолютное значение числа (int, float)</td>
            </tr>
        </table>
    </div>
    <div class="main-description-block">
        <h2 class="main-h2">Описание</h2>
        <p class="main-p">Встроенная функция <b><code class="code-python-func">abs</code></b> (от англ. absolute - абсолютный)
            &mdash; возвращает абсолютное значение числа, переданного в параметре.</p>
        <p>Абсолютное значение числа или модуль числа в математике &mdash;
            это положительное значение этого числа, часто объясняется геометрическими терминами как расстояние от начала координат до указанной точки.</p>
        <p class="main-p">В модуле Math есть похожая функция Math.fabs() которая возвращает абсолютное значение числа, но только в десятичном виде (float)</p>
        <div class="main-figure-block">
            <figure class="main-figure">
                <canvas id="graf1" width="300" height="300"></canvas>
                <figcaption>Рис 1. Абсолютное значение числа -4</figcaption>
                <script>
                    canvas = document.getElementById("graf1");
                    ctx = canvas.getContext("2d");
                    ctx.beginPath();
                    ctx.moveTo(150, 0);
                    ctx.lineTo(150, 300);
                    ctx.stroke();
                    ctx.beginPath();
                    ctx.moveTo(0, 150);
                    ctx.lineTo(300, 150);
                    ctx.stroke();
                    ctx.font = "20px monospace";
                    for (let i = 0; i < 9; i++) {
                        ctx.beginPath();
                        ctx.moveTo(145, 30 + 30 * i);
                        ctx.lineTo(155, 30 + 30 * i);
                        ctx.stroke();
                    }
                    for (let i = 0; i < 9; i++) {
                        ctx.beginPath();
                        ctx.moveTo(30 + 30 * i, 145);
                        ctx.lineTo(30 + 30 * i, 155);
                        ctx.stroke();
                    }
                    ctx.fillText("-4",15,175);
                    ctx.fillText("x",290, 175);
                    ctx.beginPath();
                    ctx.fillStyle = "blue";
                    ctx.arc(30, 150, 4, 0, 2 * Math.PI);
                    ctx.arc(150, 150, 4, 0, 2 * Math.PI);
                    ctx.fill()
                    ctx.beginPath();
                    ctx.strokeStyle = 'blue';
                    ctx.moveTo(30, 150);
                    ctx.lineTo(150, 150);
                    ctx.stroke()
                    ctx.fillText("4",85, 140);
                </script>
            </figure>
            <figure class="main-figure">
                <canvas id="graf2" width="300" height="300"></canvas>
                <figcaption>Рис 2. Абсолютное значение числа -4+3j</figcaption>
                <script>
                    canvas = document.getElementById("graf2");
                    ctx = canvas.getContext("2d");
                    ctx.beginPath();
                    ctx.moveTo(150, 0);
                    ctx.lineTo(150, 300);
                    ctx.stroke();
                    ctx.beginPath();
                    ctx.moveTo(0, 150);
                    ctx.lineTo(300, 150);
                    ctx.stroke();
                    ctx.font = "20px monospace";
                    for (let i = 0; i < 9; i++) {
                        ctx.beginPath();
                        ctx.moveTo(145, 30 + 30 * i);
                        ctx.lineTo(155, 30 + 30 * i);
                        ctx.stroke();
                    }
                    for (let i = 0; i < 9; i++) {
                        ctx.beginPath();
                        ctx.moveTo(30 + 30 * i, 145);
                        ctx.lineTo(30 + 30 * i, 155);
                        ctx.stroke();
                    }
                    ctx.fillText("-4",15,175);
                    ctx.fillText("3",160, 65);
                    ctx.fillText("i",290, 175);
                    ctx.fillText("j",160, 15);
                    ctx.beginPath();
                    ctx.fillStyle = "blue";
                    ctx.arc(30, 60, 4, 0, 2 * Math.PI);
                    ctx.arc(150, 150, 4, 0, 2 * Math.PI);
                    ctx.fill()
                    ctx.beginPath();
                    ctx.strokeStyle = 'blue';
                    ctx.moveTo(30, 60);
                    ctx.lineTo(150, 150);
                    ctx.stroke()
                    ctx.fillText("5",85, 96);

                </script>
            </figure>
        </div>
    </div>
    <div class="main-examples-block">
        {% for example in examples %}
        <div class="main-example-block">
            <pre class="main-example-content">{{example|safe}}</pre>
        </div>
        {% endfor %}
    </div>
    <!--<section class="main-section">
        <header class="main-section-header">
            <h2 class="main-section-h2">Синтаксис</h2>
        </header>
        <div class="main-section-content">
            <pre>
<code class="py-func">abs</code>(
  <code class="py-param">num</code>:<code class="py-anno">int, float, complex, obj</code>
) -> <code class="py-param">num</code>:<code class="py-anno">int, float</code>
            </pre>
        </div>
    </section>-->
</main>
{% include 'base/basic_bottom.html' %}