{% load static %}
{% include 'base/basic_top.html' %}
<main class="main">
    <header class="main-header">
        <h1 class="main-h1">{{title}}</h1>
        <p class="main-about">filter - от англ. filter</p>
    </header>
    <div class="main-syntax-block">
        <h2 class="main-h2">Синтаксис</h2>
        <div class="main-syntax">
            <pre class="main-syntax-code"><!--
            --><code class="code-python-func">filter</code>(None, iterable) -> <code class="code-python-keyword">filter-obj</code>
<code class="code-python-func">filter</code>(function, iterable) -> <code class="code-python-keyword">filter-obj</code></pre>
        </div>
        <table class="main-syntax-table">
            <tr>
                <td>None</td>
                <td>Объект ничего</td>
            </tr>
            <tr>
                <td>iterable</td>
                <td>Итерируемый объект</td>
            </tr>
            <tr>
                <td>function</td>
                <td>Функция которая возвращает True или False для каждого элемента итератора</td>
            </tr>
            <tr>
                <td>filter-obj</td>
                <td>Объект фильтр, при каждом обращении возвращает следующий элемент итерируемого объекта для которого
                function вернула True</td>
            </tr>
        </table>
    </div>
    <div class="main-description-block">
        <h2 class="main-h2">Описание</h2>
        <p class="main-p">Встроенная функция <b><code class="code-python-func">filter</code></b> (от англ. filter -
            фильтровать) &mdash; предназначена для создания нового итерируемого объекта путем отсева элементов в исходном
            итерируемом объекте при применении генераторной-функции. Функция принимает в качестве параметра элемент
            массива, и если та возвращает True, то данный элемент окажется в результирующем объекте, False же уберет
            элемент из вывода.</p>
        <p class="main-p">Если вместо функции используется None, то отфильтруются те элементы для которых функция
            <a href="/builtin_functions/filter">bool</a> вернет False.</p>
        <p>Исходный итерируемый объект не меняется.</p>
    </div>
    {% include 'builtin_functions/common_bottom.html'%}
</main>
{% include 'base/basic_bottom.html' %}