{% load static %}
{% include 'base/basic_top.html' %}
<main class="main">
    <section class="main-section">
        <header class="main-section-header">
            <h2 class="main-section-h2">Встроенные функции python</h2>
        </header>
        <div class="main-section-content">
            {% for key, value in builtin_functions.items %}
            <div class="main-section-part">
            {% for item in value%}
                <a class="main-section-part-a" href="{{item}}">{{item}}</a>
            {% endfor %}
            </div>
            {% endfor %}
        </div>
    </section>
</main>
{% include 'base/basic_bottom.html' %}