* {
    padding: 0;
    margin: 0;
    color: #444;
    font-family: "Sitka Subheading", "Courier new", "Lucida Console", monospace;
    box-sizing: border-box;
}
a {
    color: blue;
    text-decoration: none;
}
code {
    font-family: monospace;
}

body {
    background:
    linear-gradient(to top, rgba(250,0,0,.2), rgba(250,0,0,.3) 3%,rgba(255,255,255,.3) 4%, rgba(255,255,255,.3) 100%),
    linear-gradient(to right, rgba(250,0,0,.2), rgba(250,0,0,.3) 3%,rgba(255,255,255,.3) 4%, rgba(255,255,255,.3) 100%);
    background-size: 20px 20px;
}

/* СТИЛИ ЛОГОТИПА*/
.logotype {
    width: 256px;
    margin: .5rem auto;
    background: #f0f0f0;
    border: 1px solid grey;
}
.logotype:hover {
    background: #e0e0e0;
}
.logotype a {
    padding: 1rem;
}
.logotype-image {
    display: block;
    width: 50px;
    margin: auto;
    text-align: center;
}
.logotype-name {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
.logotype-transcript {
    color: #999;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
}

/* СТИЛИ СТРАНИЦЫ*/
.page {
    margin: 2rem auto;
    max-width: 1200px;
    min-height: 1000px;
    background: #fff;
    border: 1px solid #999;
    padding: 2rem;
}

/* СТИЛИ СТРАНИЦЫ*/
/*.hat {
    background: #ddd;
    border-bottom: 1px solid #aaa;
}
.hat-logo {
    padding: 1rem;
    display: inline-block;
    width: 10rem;
}
.hat-logo:hover{
    background: #eee;
}
.hat-logo-img {
    display: inline-block;
    width: 2.5rem;
}
.hat-logo-name {
    position: absolute;
    bottom: 0.333;
    display: inline-block;
}

.hat-logo-short {
    font-size: 2.5rem;
    text-align: center;
}
.hat-logo-long {
    font-size: 1rem;
    text-align: center;
    color: #999;
}
*/

.main {
}

.main-h1 {
    margin-top: 2rem;
    text-align: center;
    font-size: 2.2rem;
}

.main-about {
    text-align: center;
    color: #888;
    margin-bottom: 2rem;
}

.main-h2 {
    margin: 1rem;
    text-align: center;
    font-size: 1.8rem;
}

.main-section {
    margin-top: 2rem;
}
.main-section-header {
    padding-left: 1rem;
    background: #ddd;
    border: 1px solid #ccc;
    border-bottom: none;
}

.main-section-h2{
    text-align: center;
    font-weight: 800;
    font-size: 1.5rem;
}

.main-section-content {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ccc;
    background: #fff;
}
.main-section-part{
    padding: 1rem;
    width: 7rem;
}
.main-section-part-a {
    display: block;
    font: 1rem monospace;
    color: Teal;
}
.main-section-part-a:hover{
    text-decoration: underline;
}

.main-syntax {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 1rem;
}
.main-syntax-table {
    border-collapse: collapse;
}
.main-syntax-table td:nth-child(1){
    padding-right: 3rem;
    font-weight: bold;
    vertical-align: top;
}

.main-syntax-code {
    padding: 1rem;
    border: 1px solid #999;
    background: #f0f0f0;
}

.code-python-func {
    color: blue;
}
.code-python-param {
    color: orange;
}
.code-python-com {
    color: grey;
}
.code-python-comment {
    color: green;
}
.code-python-keyword {
    color: orange;
}
.code-python-s{
    color: DarkViolet;
}
.main-p {
    margin: 0.5rem 0;
}
.main-figure-block {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem;
}
.main-figure {
    margin: 1rem;
}
.main-example-block {
    font-family: monospace;
    border: 1px solid #888;
    margin-bottom: 1rem;
}
.main-example-content {
    font-family: monospace;
    font-size: 1rem;
    padding: 1.1rem;
    background: #f0f0f0;
}