{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'base/style.css'%}">
    <link rel="shortcut icon" href="{% static 'base/ico.svg' %}" />
</head>
<body>
    <div class="logotype">
        <a href="\">
            <img class="logotype-image" src="{% static 'base/ico.svg' %}" alt="Логотип PyPro">
            <div class="logotype-name">PyPro</div>
        </a>
    </div>
    <div class="page">
