{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'base/style.css'%}">
    <link rel="shortcut icon" href="{% static 'base/ico.svg' %}" />
</head>
<body>
    <div class="page">
        <header class="hat">
            <a class='hat-logo' href="\">
                <img class="hat-logo-img" src="{% static 'base/ico.svg' %}" alt="Логотип PyPro">
                <div class="hat-logo-name">
                    <div class="hat-logo-short">PyPro</div>
                </div>
            </a>
        </header>
