{% load static %}
{% include 'base/basic_top.html' %}
<main class="main">
    <header class="main-header">
        <h1 class="main-h1">{{title}}</h1>
        <p class="main-about">chr - от англ. char</p>
    </header>
    <div class="main-syntax-block">
        <h2 class="main-h2">Синтаксис</h2>
        <div class="main-syntax">
            <pre class="main-syntax-code"><!--
            --><code class="code-python-func">chr</code>(<code class="code-python-param">int</code>) -> str<!--
            --></pre>
        </div>
        <table class="main-syntax-table">
            <tr>
                <td>int</td>
                <td>Число типа <a href="/builtin-types/int">int</a> от 0 до 1114111. <i>Обязателен</i>.</td>
            </tr>
            <tr>
                <td>str</td>
                <td>Символ, полученный из Unicode таблицы символов</td>
            </tr>
        </table>
    </div>
    <div class="main-description-block">
        <h2 class="main-h2">Описание</h2>
        <p class="main-p">Встроенная функция <b><code class="code-python-func">chr</code></b> (от англ. character - символ)
            &mdash; Возвращает строку, символ из Unicode таблицы по ее позиции.</p>
        <p class="main-p">Целое число, переданное в параметре может быть от 0 до 1114111 включительно. Если число не входит в диапазон но возникнет исключение ValueError</p>
    </div>
    {% include 'builtin_functions/common_bottom.html'%}
</main>
{% include 'base/basic_bottom.html' %}