<div class="main-examples-block">
        <h2 class="main-h2">Примеры</h2>
        {% for example in examples %}
        <div class="main-example-block">
            <pre class="main-example-content">{{example|safe}}</pre>
        </div>
        {% endfor %}
    </div>
    <section class="main-section">
        <header class="main-section-header">
            <h2 class="main-section-h2">Встроенные функции python</h2>
        </header>
        <div class="main-section-content">
            {% for key, value in builtin_functions.items %}
            <div class="main-section-part">
            {% for item in value%}
                <a class="main-section-part-a" href="\builtin_functions\{{item}}">{{item}}</a>
            {% endfor %}
            </div>
            {% endfor %}
        </div>
    </section>