{% load static %}
{% include 'base/basic_top.html' %}
<main class="main">
    <header class="main-header">
        <h1 class="main-h1">{{title}}</h1>
        <p class="main-about">format - от англ. format</p>
    </header>
    <div class="main-syntax-block">
        <h2 class="main-h2">Синтаксис</h2>
        <div class="main-syntax">
            <pre class="main-syntax-code"><!--
            --><code class="code-python-func">format</code>(obj, formatting) -> <code class="code-python-keyword">str</code></pre>
        </div>
        <table class="main-syntax-table">
            <tr>
                <td>obj</td>
                <td>Объект, который нужно форматировать, обычно это строки, числа или дата. <i>Обязателен</i></td>
            </tr>
            <tr>
                <td>formatting</td>
                <td>Строка которая описывает как должно происходить форматирование. </td>
            </tr>
        </table>
    </div>
    <div class="main-description-block">
        <h2 class="main-h2">Описание</h2>
        <p class="main-p">Встроенная функция <b><code class="code-python-func">format</code></b> (от англ. format -
            форматировать) &mdash; предназначена для преобразования к строке объекта obj путем использования метода __format__
            класса объекта obj: type(obj).__format__().</p>
        <p class="main-p">Параметр formatting - строка-схема, которая передается методу __format__ и определяет как
            будет выглядеть возвращаемая строка. Для встроенных в python типы данная строка обычно представлена в так
            называемым Format Specification Mini Language (Мини язык описывающий форматирование)</p>
        <h2 class="main-h2">Format Specification Mini Language</h2>
        <p class="main-p">Строку описывающую форматирование обычно представляют в следующем виде, но сработает параметр
            или нет зависит от типа передаваемого объекта, например, 'z' работает только с float числами.</p>
        <div class="main-syntax">
            <pre class="main-syntax-code">[[fill]align][sign]["z"]["#"]["0"][width][grouping_option]["." precision][type]</pre>
        </div>
        <p class="main-p">Описание этой структуры лучше начать с конца:</p>
        <table class="main-syntax-table">
            <tr>
                <td>[type]</td>
                <td>
                    <p>Определяет один из типов преобразования:</p>
                    <ul class="main-syntax-ul">
                        <li>b - преобразует целое число к двоичной системе исчисления. (для int)</li>
                        <li>c - преобразует целое число как символ Unicode. (для int)</li>
                        <li>d - преобразует целое число к десятичной системе исчисления. (для int)</li>
                        <li>e - преобразует число к так называемому научному представлению с символом e.</li>
                        <li>E - преобразует число к так называемому научному представлению с символом E.</li>
                        <li>f - преобразует число к фиксированному кол-ву символом после точки.</li>
                        <li>F - как f, только 'nan' станет 'NAN', a 'inf' в 'INF'</li>
                        <li>g - общий формат представления числа, округляет число и приводит к типу 'f' или 'e' в зависимости от кол-ва символов.</li>
                        <li>G - тоже что и g, но использует 'E' преобразование вместо 'e' </li>
                        <li>n - аналог d, то использует настройки локали для определения символа разделителя больших чисел.</li>
                        <li>o - преобразует целое число к восьмеричной системе исчисления. (для int)</li>
                        <li>s - преобразует к строке. (для строк)</li>
                        <li>x - преобразует целое число к шестнадцатерично системе исчисления с малыми символами для чисел выше 9. (для int)</li>
                        <li>X - преобразует целое число к шестнадцатерично системе исчисления с заглавными символами для чисел выше 9. (для int)</li>
                        <li>% - процентный формат, умножает на 100 и преобразует к 'f' добавляя символ '%'</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>["." precision]</td>
                <td>Указывает точность представления числа - кол-во символов после точки путем округления round.</td>
            </tr>
            <tr>
                <td>[grouping_option]</td>
                <td>
                    <p>Указывает символ для разделения больших чисел</p>
                    <ul class="main-syntax-ul">
                        <li>_ &mdash; тысячи разделяются символом '_'</li>
                        <li>, &mdash; тысячи разделяются символом ','</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>[width]</td>
                <td>Минимальный размер строки, включая префиксы, разделители. Если не указан, то размер определится по
                содержимому.</td>
            </tr>
            <tr>
                <td>[0]</td>
                <td>Устарело с версии 3.11. Ранее добавление нуля перед width означало [fill]:0; [alignment]: "="</td>
            </tr>
            <tr>
                <td>[#]</td>
                <td>Добавляет '0b', '0o', '0x', '0X' к финальному преобразованию для типов 'b', 'o', 'х', 'X'. Для
                вещественных чисел наличие плавающей точки становится обязательным.</td>
            </tr>
            <tr>
                <td>[z]</td>
                <td>Убирает знак отрицания для чисел чье значение округлилось к нулю после ["." precision].</td>
            </tr>
            <tr>
                <td>[sign]</td>
                <td>
                    <p>Определяет нужно ли отображать знак у чисел</p>
                    <ul class="main-syntax-ul">
                        <li>+ &mdash; знак числа будет всегда отображаться и для положительных и для отрицательных значений.</li>
                        <li>- &mdash; знак отображается только у отрицательных значений. Стандартное поведение.</li>
                        <li>space &mdash; оставляет место для положительных чисел, минус остается для отрицательных.</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>[[fill]align]</td>
                <td>
                    <p>Параметры будут иметь эффект, только если [width] будет дольше длины строки.</p>
                    <p>[fill] - определяет каким знаком заполнятся недостающие значения. По умолчанию пробелом.</p>
                    <p>[align] - определяет где будет располагаться текст в доступном пространстве, возможны значения:</p>
                    <ul class="main-syntax-ul">
                        <li>&lt; &mdash; текст слева.</li>
                        <li>&gt; &mdash; текст справа.</li>
                        <li>^ &mdash; текст выравнивается по центру.</li>
                        <li>= &mdash; заполняет доступное пространство за знаком числа.</li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    {% include 'builtin_functions/common_bottom.html'%}
</main>
{% include 'base/basic_bottom.html' %}